@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Amiri Quran Regular';
	src: url('https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-quran-full-org.otf')
		format('opentype');
}

body {
	background-color: #f8f9fa;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Noto Serif', serif;
}

code {
	font-family: 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold font-serif;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

h6 {
	@apply text-base;
}

p {
	@apply text-base font-normal font-sans leading-7;
}

.sidebar {
	@apply fixed top-0 left-0 w-16 p-4 flex h-screen flex-col border-r bg-white transition duration-300 ease-in-out;
}

.sidebar-pos {
	@apply py-3 cursor-pointer;
}

.sidebar-pos span {
	@apply hidden overflow-hidden;
}

.sidebar--open {
	@apply w-48 px-4 transition duration-300 ease-in-out;
}

.sidebar--open .sidebar-pos span {
	@apply block w-full h-auto;
}
